EDIT PAGE FOR A SUGGESTION ENTRY

<form class="" action="/suggestion_entries/<%= @suggestion_entry.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="content">Content:</label>
  <textarea name="content" style="width:auto; height:auto;"><%= @suggestion_entry.content %></textarea>
  <input type="submit" name="" value="Edit Entry">
</form>