<h1>SEE ALL THE GREAT SUGGESTIONS</h1>
<br><br>
<% @suggestion_entries.each do |suggestion_entry| %>
<br>

<h4>Suggestion created by <%= suggestion_entry.anonymous ? "Anonymous" : suggestion_entry.user.name %> on <a href="/suggestion_entries/<%= suggestion_entry.id %>"><%=
suggestion_entry.created_at.to_date %></a></h4>
<br>
<p><%= suggestion_entry.content %></p>
<hr>
<% end %>