<h1>ALL SUGGESTIONS</h1>
<br><br>
<% @suggestion_entries.each do |suggestion_entry| %>
<h4><a href="/suggestion_entries/<%= suggestion_entry.id %>"><%=
suggestion_entry.created_at %></a></h4>

<p><%= suggestion_entry.content %></p>
<p>By <%= suggestion_entry.user.name %></p>

<br><br>
<% end %>