<h2>Create a new Suggestion: </h2>

<form class="" action="/suggestion_entries" method="post">
    <label for="content">Content: </label>
    <input type="text" name="content" value="">
    <input type="submit" name="" value="Create Entry">
</form>