<h2>Create a New Suggestion: </h2>

<form class="" action="/suggestion_entries" method="post">
    <label for="content">Content: </label>
    <input type="text" name="content" value="">
   
    <input type="checkbox" name="anonymous" value="false" checked> Post suggestion with name<br>
    <br>
    <input type="submit" name="" value="Create Entry">
    <br>
    <br>
    <h4>Suggestions are anonymous by default. To reveal your name, you may click the checkbox.</h4>
</form>