<<h1><font color="339EFF"><center>Log In to Suggestion Box!</center></font></h1>

<p align="right"><a href="/">Go to Home Page</a></p>

<form class="" action="/login"method="post">
    <label for="email">Email: </label>
    <input type="text" name="email" value="">
    <label for="password">Password: </label>
    <input type="text" name="password" value="">
    <input type="submit" value="Login">
</form>
<br>



<center><img src="/images/box2.jpg" width="360" height="360"></center>