<h2><center><font color="FF0000">Please Sign Up For The Suggestion Box!</center></font></h2> 

<form class="" action="/users" method="post">
<p align="right"><a href="/">Go to Home Page</a></p>
<br>
    <label for="name">Name: </label>
    <input type="text" name="name" value="">
    <label for="email">Email: </label>
    <input type="text" name="email" value="">
    <label for="password">Password: </label>
    <input type="text" name="password" value="">
    <input type="submit" name="" value="Create User">
<br>
<br>
<br>
<center><img src="/images/suggestion-box-logo.jpg" width="360" height="360"></center>

</form>

