<!DOCTYPE html>
<html>
<head>
<h1><font color="FF0000"><center>Welcome to Suggestion Box!</center></font></h1>
<meta charset="UTF-8">
</head>
<body>
<center><a href="/login">Log In</a> or <a href="/signup">Sign Up</a></center>
<br>
    <h4><center>Engage your employees by providing them a platform to express their ideas.</center></h4>
    <h4><center>Make process improvement fun and efficient!</center></h4>

<center><img src="/images/box.jpg" width="360" height="360"></center>
</body>

</html>